body { 
  background-color: #343A40; 
}

.active-link {
  font-size: 18px;
  text-decoration: underline white;
}

.mat-dialog-container, .mat-expansion-panel { 
  background-color: #343A40 !important;
}

label, .text-white {
  color: white;
}



